.container {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .container>* {
    min-width: 56px;
  }
  
  .imageContainer {
    max-width: 100%;
    position: relative;
  }

  .imageContainer > img {
    max-width: 100%;
    height: auto;
  }

  .arrow {
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding: 20px;
  }
  
  @media only screen and (max-width: 590px) {
    .container>* {
      min-width: 20px;
    }
  
    .arrow {
      padding: 0;
    }
  
    .container>*:first-child .arrow {
      padding-right: 5px;
    }
  
    .container>*:last-child .arrow {
      padding-left: 5px;
    }
  }