.section {
    padding: var(--margin-y-xl) var(--margin-x-s);
    position: relative;
}

.section>div {
    max-width: var(--max-width);
    margin: 0 auto;
}

.title {
    margin-bottom: var(--margin-y-l);
    font-size: var(--section-title-font-size);
    color: var(--text-color);
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 170px;
    height: 2px;
    background-color: var(--secondary-color);
}

.extraMargin {
    margin-bottom: var(--margin-y-xl);
}

.title>span {
    color: var(--secondary-color);
    margin-top: 10px;
    font-size: 20px;
}

.center {
    text-align: center;
}

.center::before {
    left: 50%;
    transform: translateX(-50%);
}